:root {
	--pink: rgb(225, 42, 231);
	--lighterpink: rgb(226, 132, 229);
	--neon: rgb(255, 255, 255);
}

* {
	font-family: monospace;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: var(--neon);
	padding: 10px 20px;
}

header > h1 {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 3em;
	letter-spacing: 1.2em;
	font-weight: lighter;
	text-transform: uppercase;
	text-decoration: underline;
	text-underline-offset: -2px;
	text-shadow: 
		/* White glow */
		0 0 7px var(--neon),
		0 0 10px var(--neon),
		0 0 21px var(--neon),
		/* Pink glow */
		0 0 42px var(--pink),
		0 0 82px var(--pink),
		0 0 92px var(--pink),
		0 0 102px var(--pink),
		0 0 151px var(--pink);
	word-wrap: break-word;
}

header > h1 > .titleLet {
	animation: flicker 2s infinite alternate;
}

@keyframes flicker {
	0%, 18%, 22%, 25%, 53%, 57%, 100% {

		text-shadow:
		0px 2px 5px var(--pink),
		0 0 4px var(--neon),
		0 0 11px var(--neon),
		0 0 19px var(--neon),
		0 0 40px var(--pink),
		0 0 80px var(--pink),
		0 0 90px var(--pink),
		0 0 100px var(--pink),
		0 0 150px var(--pink),
		0 10px 50px var(--lighterpink);
	}
	
	20%, 24%, 55% {
		/* filter: opacity(30%);  */
		text-shadow: none;
	} 
}

main {
	height: 100%;
	padding: 20px 0px;
	display: grid;
	grid-template-columns: 20% auto;
}

menu {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

menu > a::before {
	content: ">>";
	margin-right: 10px;
}

menu > a {
	display: block;
	padding-bottom: 5px;
	color: var(--neon);
	text-decoration: none;
	text-shadow: 
		/* White glow */
		0 0 7px var(--neon),
		0 0 10px var(--neon),
		/* Pink glow */
		0 0 42px var(--lighterpink),
		0 0 60px var(--lighterpink),
		0 0 80px var(--lighterpink),
		0 0 90px var(--lighterpink),
		0 2px 1px var(--lighterpink);
}

menu > a:hover {
	text-decoration: underline dotted;
	text-underline-offset: 1px;
}